html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Trirong", serif;
}

a {
  text-decoration: none;
  color: black;
}

::-webkit-scrollbar {
  width: 0px;
  height: 5px;
  scroll-behavior: auto;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(122, 122, 122, 0.118);
  border-radius: 10px;
  height: 200px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

.category-btn:hover {
  background-color: rgba(122, 122, 122, 0.118);
  color: rgb(0, 0, 0) !important;
}

.category-btn:hover span{
  color: rgb(0, 0, 0) !important;
}

.react-player {
  height: 77vh !important;
  width: 100% !important;
}

.search-bar{
  border:none;
  outline:none;
  width:350px;
}

.category-btn{
  font-weight: bold !important;
  text-transform: capitalize;
  align-items: center;
  justify-content: start;
  display: flex;
  cursor:pointer;
  background: transparent;
  outline: none;
  border: none;
  color: rgb(92, 92, 92);
  padding: 7px 15px;
  margin: 5px 10px;
  border-radius:5px;
  transition: all 0.3s ease;
  ;
}
.videocontainer {
  height: 220px;
  width: auto;
  overflow: hidden;
  border: hidden;
  border-radius: 10px;
}
.videocontainer img {
  height: 300px;
  width: 100%;
  margin: -40px 0 0 -0;
}

@media screen and (max-width: 900px) {
  .category-btn{
    margin: 10px;
  }
  
}

@media screen and (max-width: 600px) {
  .scroll-horizontal {
    overflow: auto !important;
  }
  .react-player {
    height: 45vh !important;
  }
}








/* body {
	font-family: sans-serif;
	background-color: #111;
} */

.button {
	display: inline-block;
	margin: 4px 2px;
	background-color: rgba(255, 255, 255, 0.071);
	height: 40px;
	line-height: 50px;
	text-align: center;
	color: rgb(0, 0, 0);
	text-decoration: none;
	cursor: pointer;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.button:hover {
	transition-duration: 0.4s;
	-moz-transition-duration: 0.4s;
	-webkit-transition-duration: 0.4s;
	-o-transition-duration: 0.4s;
	background-color: white;
	color: black;
}

.search-container {
	position: relative;
	display: inline-block;
	margin: 4px 2px;
	height: 40px;
	width: 40px;
	vertical-align: bottom;
}

.mglass {
	display: inline-block;
	pointer-events: none;
  height: 45px;
	width: 25px;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
}

.searchbutton {
	position: absolute;
	font-size: 22px;
	width: 100%;
	margin: 0;
	padding: 0;
  border: 1px solid rgb(92, 92, 92);
  border-radius: 0 10px 10px 0 ;
}

.search:focus + .searchbutton {
	transition-duration: 0.4s;
	-moz-transition-duration: 0.4s;
	-webkit-transition-duration: 0.4s;
	-o-transition-duration: 0.4s;
	background-color: white;
	color: black;
}

.search {
	position: absolute;
	left: 30px; /* Button width-1px (Not 50px/100% because that will sometimes show a 1px line between the search box and button) */
	background-color: rgba(92, 92, 92, 0.071);
	outline: none;
	border: none;
	padding: 0;
	width: 0;
	height: 100%;
	z-index: 10;
	transition-duration: 0.4s;
	-moz-transition-duration: 0.4s;
	-webkit-transition-duration: 0.4s;
	-o-transition-duration: 0.4s;
}

.search:focus {
	width: 230px; /* Bar width+1px */
	padding: 0 16px 0 0;
}

.expandright {
	left: auto;
	right: 39px; /* Button width-1px */
  border: 1px solid rgb(92, 92, 92);
  background-color: rgb(255, 255, 255);
  border-radius: 10px 0 0 10px ;

}

.expandright:focus {
	padding: 0 0 0 16px;
}

.google-btn{
  position: relative;
	display: inline-block;
	margin: 4px 2px;
	vertical-align: bottom;
}